/*************************************************** Général ********************************************************/

/* Importer le liens pour la font-family, permet de pas alourdir le code html */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

/************************************************** Container ************************************************************/

#container {
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
    background: rgba(68, 117, 136, 0.548);
    justify-content: center;
    align-items: center;
/* Gap peut-être utilisé grâce à Display:flex qui a été ajouté plus haut. Cela permet de créer et définir l'espacement entre les cartes. */
    gap: 20px;
}

/************************************************** Card ************************************************************/

.card {
    background: #fff;
    width: 300px;
/* Border-radius permet d'arrondir les angles dans ce cas des cartes */
    border-radius: 10px;
/* Overflow : hidden permet de cacher le débordement de l'image sur le border arrondi. */
    overflow: hidden;
/* Box-shadow permet d'ajouter un effet d'ombre sur les cartes. Ici le code vient du site "getcsssscan.com" */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    transition: 0.5s;
}

/* Ce Hover va créer un effet qui fait bouger la carte vers le haut (X = axe horziontale Y = axe verticale). Pour quel monte la valeur doit être négative. */
.card:hover {
    transform: translateY(-15px);
}

/* Nous avons l'action (.card:hover) qui agit sur le coeur (.coeur placé après), ce qui va permettre que l'effet du coeur qui apparaît, s'active que quand on passe la souris sur la carte. */
.card:hover .coeur {
    left: 0;
}

.card:hover .card-header img {
/* Transform permet de zoomer l'image de la carte, lorsque la souris passe dessus. Transisiton et transform peuvent être utilisé SI un hover est en place. */
    transform: scale(1.1);
    /* Permet de passer de retirer l'effet grisatre de l'image de la carte, et donc elle va revenir à ses couleurs originaux. C'est effet aura leiu lorsqu'on passe la souris dessus (sans besoin de cliquer) grâce au :hover */
    filter: grayscale(0);
}

.card-header {
/* comme le petit carré coeur est en position absolute, on peut le déplacer mais ce sera sur la page globale. Donc pour le bouger uniquement sur les cartes, il faut mettre son parent (ici card-header) en position relative. */
    position: relative;
    height: 200px;
    overflow: hidden;
}

.card-header img {
    width: 100%;
/* Normalement on ne doit modifier qu'un seul paramètre de taille pour une image, mais ici cela permettait de mettre les images des cartes de même taille. Grâce à objectif-fit, elles vont remplir à 100% la taille du container parent (card-header) sans être étiré/déformé. */
    height: 100%;
    object-fit: cover;
    filter: grayscale(1);
/* La transition permet d'influencer le temps d'apparition de l'effet hover. Quand la souris passera dessus, l'image reviendra en couleur en 0.5s. */
    transition: 0.5s;
}

.card-text {
    padding: 30px;
}

.card-text h1 {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}

.card-text p {
    font-size: 14px;
    font-weight: 300;
    color: rgb(147, 147, 147);
}

/************************************************** Coeur ************************************************************/

.coeur {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: rgb(237, 53, 96);
    font-size: 20px;
/* La position absolute permet de bouger l'élément (ici le carrée coeur) où l'on veut. */
    position: absolute;
    /* Ces valeurs permettent de bouger l'élément dans le coin en haut (top:0) à gauche (left:0) */
    top: 0;
/* On modifie la valeur de left de 0 à -50px pour qu'il soit caché en général. Nous voulons qu'il apparait seulement si l'on passe la souris sur la carte (effet hover) */
    left: -50px;
    transition: 0.5s;
}

.coeur a {
    color: #fff;
}

/************************************************** lorem ************************************************************/

/************************************************** lorem ************************************************************/

